html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
  }

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}